{% extends 'user/master/master.html' %} {% load static %} {% block content %}

<style>
  .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .wrap {
    width: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  }
  .wrap .img {
    height: 200px;
  }

  .form-wrap {
    position: relative;
  }
  .login-wrap h3 {
    font-weight: 300;
  }

  .form-group {
    position: relative;
    z-index: 0;
    margin-bottom: 20px !important;
  }
  .form-group a {
    color: gray;
  }

  .form-control {
    height: 48px;
    background: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.2) !important;
  }
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.2) !important;
  }
  .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.2) !important;
  }
  .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.2) !important;
  }
  .form-control:focus,
  .form-control:active {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #01d28e;
  }

  .field-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.3);
  }

  .form-control-placeholder {
    position: absolute;
    top: 2px;
    padding: 7px 0 0 15px;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
    opacity: 0.6;
  }

  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    -webkit-transform: translate3d(0, -120%, 0);
    transform: translate3d(0, -120%, 0);
    padding: 7px 0 0 0;
    opacity: 1;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    color: #01d28e;
    font-weight: 700;
  }

  .form-group.success input {
    border-color: #09c372;
  }

  .form-group.error input {
    border-color: #ff3860;
  }

  .form-group .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
  }
</style>
<div class="container mt-5">
    <div class="row justify-content-center">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-10 row d-flex">
                    <div class="wrap">

                    <div class="form-wrap p-4 p-md-6">
                        <div class="d-flex flex-row flex-wrap justify-content-between align-items-center">
                            <div class="col-lg-6 order-lg-1 col-sm-12 order-sm-2">
                                <img src="/static/img/changepassword.png" alt="Image" class="img-fluid">
                            </div>
                            <div class="col-lg-6 order-lg-2 col-sm-12 order-sm-1">
                            <div class="w-100">
                                            <h3 class="mb-4 text-center">Change Password</h3>
                                        </div>

                
-    <form
              action=""
              autocomplete="off"
              id="changepassword-form"
              class="changepassword-form m-5"
              method="POST"
            >
              {% csrf_token %}
              <div class="form-group mt-3">
                <input
                  autocomplete="off"
                  class="form-control"
                  type="password"
                  name="old_password"
                  id="password-field"
                />
                <label class="form-control-placeholder">Current password</label>
                <span
                  class="fa fa-fw fa-eye field-icon toggle-password"
                  toggle="#password-field"
                ></span>
                <div class="error">{{form.old_password.errors}}</div>
              </div>
              <div class="form-group">
                <input
                  autocomplete="off"
                  class="form-control"
                  id="newpassword-field"
                  name="new_password1"
                  type="password"
                />
                <label class="form-control-placeholder">New Password</label>
                <span
                  class="fa fa-fw fa-eye field-icon toggle-password1"
                  toggle="#newpassword-field"
                ></span>
                <div class="error"></div>
              </div>

              <div class="form-group">
                <input
                  autocomplete="off"
                  class="form-control"
                  id="newpassword-field1"
                  name="new_password2"
                  type="password"
                />
                <label class="form-control-placeholder"
                  >New Password again</label
                >
                <span
                  class="fa fa-fw fa-eye field-icon toggle-password2"
                  toggle="#newpassword-field1"
                ></span>
                <div class="error"></div>
              </div>

              <div class="col-12">
                <button class="btn btn-primary w-100 py-3" type="submit">
                  Change my password
                </button>
              </div>
            </form>
        </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
            </div>
<script type="text/javascript">
  (function ($) {
    "use strict";

    $(".toggle-password").click(function () {
      $(this).toggleClass("fa-eye fa-eye-slash");
      var input = $($(this).attr("toggle"));
      if (input.attr("type") == "password") {
        input.attr("type", "text");
      } else {
        input.attr("type", "password");
      }
    });

    $(".toggle-password1").click(function () {
      $(this).toggleClass("fa-eye fa-eye-slash");
      var input = $($(this).attr("toggle"));
      if (input.attr("type") == "password") {
        input.attr("type", "text");
      } else {
        input.attr("type", "password");
      }
    });

    $(".toggle-password2").click(function () {
      $(this).toggleClass("fa-eye fa-eye-slash");
      var input = $($(this).attr("toggle"));
      if (input.attr("type") == "password") {
        input.attr("type", "text");
      } else {
        input.attr("type", "password");
      }
    });
  })(jQuery);
  const changepasswordform = document.getElementById("changepassword-form");
  const oldpassword = document.getElementById("password-field");
  const newpassword1 = document.getElementById("newpassword-field");
  const newpassword2 = document.getElementById("newpassword-field1");
  changepasswordform.addEventListener("submit", (e) => {
    e.preventDefault();
    if (validateInputs()) {
      changepasswordform.submit();
    }
  });

  const isValidPassword = (password) => {
    const reg =
      /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
    return reg.test(password);
  };

  const setError = (element, message) => {
    const inputControl = element.parentElement;
    const errorDisplay = inputControl.querySelector(".error");
    errorDisplay.innerText = message;
    inputControl.classList.add("error");
    inputControl.classList.remove("success");
  };
  const setSuccess = (element) => {
    const inputControl = element.parentElement;
    const errorDisplay = inputControl.querySelector(".error");
    errorDisplay.innerText = "";
    inputControl.classList.add("success");
    inputControl.classList.remove("error");
  };

  const validateInputs = () => {
    var is_form_valid = true;
    const oldpasswordvalue = oldpassword.value.trim();
    const newpassword1value = newpassword1.value.trim();
    const newpassword2value = newpassword2.value.trim();

    if (oldpasswordvalue === "") {
      setError(oldpassword, "Password is required");
      is_form_valid = false;
    } else {
      setSuccess(oldpassword);
    }

    if (newpassword1value === "") {
      setError(newpassword1, "New password is required");
      is_form_valid = false;
    } else if (!isValidPassword(newpassword1value)) {
      setError(newpassword1, "Weak password. Try stronger one");
      is_form_valid = false;
    } else {
      setSuccess(newpassword1);
    }

    if (newpassword2value === "") {
      setError(newpassword2, "Confirm your new password");
      is_form_valid = false;
    } else if (newpassword1value !== newpassword2value) {
      setError(newpassword2, "Passwords do not match");
      is_form_valid = false;
    } else {
      setSuccess(newpassword2);
    }
    return is_form_valid;
  };
</script>
{% endblock %}
