{% extends 'user/master/master.html' %}
{% load static %}
{% block content %}
     <!-- Job Detail Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row gy-5 gx-4">
                    <div class="col-lg-8">
                        <div class="d-flex align-items-center mb-5">
                            <img class="flex-shrink-0 img-fluid border rounded" src="{{job.image.url}}" alt="" style="width: 80px; height: 80px;">
                            <div class="text-start ps-4">
                                <h3 class="mb-3">{{job.title}}</h3>
                                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{job.location}}</span>
                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{job.timetocomplete}} Hours</span>
                                <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>{{job.payment}} Rupees</span>
                            </div>
                        </div>

                        <div class="mb-5">
                            <h4 class="mb-3">Job description</h4>
                            <p>{{job.description}}</p>
                            <h4 class="mb-3">Skills</h4>
                            <ul class="list-unstyled">

                            {% for skill in job.skill.all %}
                                <li><i class="fa fa-angle-right text-primary me-2"></i>{{skill.name}}</li>
                            {% endfor %}
                            </ul>
                            <h4 class="mb-3">Requirements</h4>
                            <p>An ideal candidate for this job is expected to have following requirements</p>
                                    <ul class="list-unstyled">
                                        {% for requirement in job.requirements_list %}
                                            <li><i class="fa fa-angle-right text-primary me-2"></i>{{ requirement }}</li>
                                        {% endfor %}
                                    </ul>
                        </div>
                        {% if not no_profile %}
                            {% if has_applied %}
                                <div class="col-12">
                                    <button class="btn btn-secondary w-100" disabled>Already applied</button>
                                </div>
                                {% else %}
                                    {% include 'user/pages/applyjobform.html' %}
                            {% endif %}
                        {% else %}
                            <div class="col-12">
                                <a  href="{% url 'becomeworker' %}" class="btn btn-secondary w-100">Become Worker</a>
                            </div>
                        {% endif %}
                    </div>

                    <div class="col-lg-4">
                        <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                            <h4 class="mb-4">Job Summery</h4>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Published On: {{job.posted_on}}</p>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Updated On: {{job.modified_on}}</p>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Job category: {{job.service}}</p>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Payment(Rs.): {{job.payment}}</p>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Location: {{job.location}}</p>
                            <p class="m-0"><i class="fa fa-angle-right text-primary me-2"></i>Deadline: {{job.deadline}}</p>
                            <p class="m-0"><i class="fa fa-angle-right text-primary me-2"></i>Total proposals: {{proposals}}</p>
                        </div>
                        <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                            <h4 class="mb-4">Job poster detail</h4>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Username: {{job.postedby.username}}</p>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Fullname: {{job.postedby.first_name}} {{job.postedby.last_name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Job Detail End -->


{% endblock %}