{% extends 'user/master/master.html' %}
{% load static %}
{% block content %}
<style>
.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.wrap {
  width: 100%;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); }
  .wrap .img {
    height: 200px; }

.login-wrap {
  position: relative; }
  .login-wrap h3 {
    font-weight: 300; }

.form-group {
  position: relative;
  z-index: 0;
  margin-bottom: 20px !important; }
  .form-group a {
    color: gray; }

.form-control {
  height: 48px;
  background: #fff;
  color: #000;
  font-size: 16px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.2) !important; }
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.2) !important; }
  .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.2) !important; }
  .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.2) !important; }
  .form-control:focus, .form-control:active {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #01d28e; }

.field-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.3); }

.form-control-placeholder {
  position: absolute;
  top: 2px;
  padding: 7px 0 0 15px;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  opacity: .6; }

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  -webkit-transform: translate3d(0, -120%, 0);
  transform: translate3d(0, -120%, 0);
  padding: 7px 0 0 0;
  opacity: 1;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #01d28e;
  font-weight: 700; }

.social-media {
  position: relative;
  width: 100%; }
  .social-media .social-icon {
    display: block;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 16px;
    margin-right: 5px;
    border-radius: 50%; }
    .social-media .social-icon span {
      color: #999999; }
    .social-media .social-icon:hover, .social-media .social-icon:focus {
      background: #01d28e; }
      .social-media .social-icon:hover span, .social-media .social-icon:focus span {
        color: #fff; }

.checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "\f0c8";
  font-family: "FontAwesome";
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  margin-top: -4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  @media (prefers-reduced-motion: reduce) {
    .checkmark:after {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }

/* Show the checkmark when checked */
.checkbox-wrap input:checked ~ .checkmark:after {
  display: block;
  content: "\f14a";
  font-family: "FontAwesome";
  color: rgba(0, 0, 0, 0.2); }

/* Style the checkmark/indicator */
.checkbox-primary {
  color: #01d28e; }
  .checkbox-primary input:checked ~ .checkmark:after {
    color: #01d28e; }

.btn {
  cursor: pointer;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px;
  padding: 10px 20px; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none; }
  .btn.btn-primary {
    background: #01d28e !important;
    border: 1px solid #01d28e !important;
    color: #fff !important; }
    .btn.btn-primary:hover {
      border: 1px solid #01d28e;
      background: transparent;
      color: #01d28e; }
    .btn.btn-primary.btn-outline-primary {
      border: 1px solid #01d28e;
      background: transparent;
      color: #01d28e; }
      .btn.btn-primary.btn-outline-primary:hover {
        border: 1px solid transparent;
        background: #01d28e;
        color: #fff; }


.form-group.success input{
	border-color: #09c372;
}

.form-group.error input{
	border-color: #ff3860;
}

.form-group .error{
	color: #ff3860;
	font-size :  9px;
	height : 13px;
}


</style>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">One Stop Solution</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-10 row d-flex">
                <div class="wrap">
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex flex-row flex-wrap justify-content-between align-items-center">
                            <div class="col-lg-6 order-lg-1 col-sm-12 order-sm-2 mp-3">
                                <img src="/static/img/register.png" alt="Image" class="img-fluid">
                            </div>
                            <div class="col-lg-6 order-lg-2 col-sm-12 order-sm-1">

                                <div class="d-flex">
                                    <div class="w-100">
                                        <h3 class="mb-4">Sign Up</h3>
                                    </div>
                                    <div class="w-100">
                                        <p class="social-media d-flex justify-content-end">
                                            <a class="social-icon d-flex align-items-center justify-content-center"
                                               href="#"><span><i
                                                    class="fa-brands fa-facebook"></i></span></a>
                                            <a class="social-icon d-flex align-items-center justify-content-center"
                                               href="#"><span><i
                                                    class="fa-brands fa-google"></i></span></a>
                                        </p>
                                    </div>
                                </div>
                                <form action=#" autocomplete="off" id="signup-form" class="signup-form" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group mt-3">
                                        <input autocomplete="off" class="form-control" name="first_name"
                                               id="firstname-field" type="text">
                                        <label class="form-control-placeholder">Firstname</label>
                                        <div class="error"></div>
                                    </div>
                                    <div class="form-group mt-3">
                                        <input autocomplete="off" class="form-control" name="last_name"
                                               id="lastname-field" type="text">
                                        <label class="form-control-placeholder">Lastname</label>
                                        <div class="error"></div>
                                    </div>
                                    <div class="form-group mt-3">
                                        <input autocomplete="off" class="form-control" name="username"
                                               id="username-field" type="text">
                                        <label class="form-control-placeholder">Username</label>
                                        <div class="error">{{form.username.errors}}</div>
                                    </div>
                                    <div class="form-group mt-3">
                                        <input autocomplete="off" class="form-control" name="email" id="email-field"
                                               type="email">
                                        <label class="form-control-placeholder">Email</label>
                                        <div class="error"></div>
                                    </div>
                                    <div class="form-group">
                                        <input autocomplete="off" class="form-control" id="password-field"
                                               name="password1" type="password">
                                        <label class="form-control-placeholder">Password</label>
                                        <span class="fa fa-fw fa-eye field-icon toggle-password"
                                              toggle="#password-field"></span>
                                        <div class="error"></div>
                                    </div>

                                    <div class="form-group">
                                        <input autocomplete="off" class="form-control" id="password-field1"
                                               name="password2" type="password">
                                        <label class="form-control-placeholder">Password again</label>
                                        <span class="fa fa-fw fa-eye field-icon toggle-password1"
                                              toggle="#password-field1"></span>
                                        <div class="error"></div>
                                    </div>
                                    <div class="form-group">
                                        <button class="form-control btn btn-primary rounded submit px-3" type="submit">
                                            Sign Up
                                        </button>
                                    </div>

                                </form>
                                <p class="text-center">Already a member? <a data-toggle="tab" href="{% url 'login' %}">Sign
                                    In</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
	(function($) {

	"use strict";

	$(".toggle-password").click(function() {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        }
        else {
            input.attr("type", "password");
        }
    });

    $(".toggle-password1").click(function() {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
              input.attr("type", "text");
        }
        else {
            input.attr("type", "password");
        }
    });

})(jQuery);
$(document).ready(function(){
    const regform = document.getElementById('signup-form');
    const username = document.getElementById('username-field');
    const first_name = document.getElementById('firstname-field');
    const last_name = document.getElementById('lastname-field');
    const email = document.getElementById('email-field');
    const password1 = document.getElementById('password-field');
    const password2 = document.getElementById('password-field1');
    regform.addEventListener('submit', e => {
        e.preventDefault();
        if(validateInputs()){
            regform.submit();
        }
    });

    const isValidEmail = email => {
        const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{3,}))$/;
        return re.test(String(email).toLowerCase());
    }
    const isValidPassword = password =>{
        const reg =  /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
        return reg.test(password);

    }

    const isValidFirstName = first_name => {
        const re = /^[a-zA-Z]+$/;
        return re.test(first_name);
    }

    const isValidLastName = last_name => {
        const re = /^[a-zA-Z]+$/;
        return re.test(last_name);
    }

    const setError = (element , message) => {
        const inputControl = element.parentElement;
        const errorDisplay = inputControl.querySelector('.error');
        errorDisplay.innerText = message;
        inputControl.classList.add('error');
        inputControl.classList.remove('success');

    }
    const setSuccess = (element) => {
        const inputControl = element.parentElement;
        const errorDisplay = inputControl.querySelector('.error');
        errorDisplay.innerText = "";
        inputControl.classList.add('success');
        inputControl.classList.remove('error');

    }

    const validateInputs = () => {
        var is_form_valid = true;
        const usernameValue = username.value.trim();
        const first_nameValue = first_name.value.trim();
        const last_nameValue = last_name.value.trim();
        const emailValue = email.value.trim();
        const password1Value = password1.value.trim();
        const password2Value = password2.value.trim();

        if(usernameValue === ''){
            setError(username, 'Username is required');
            is_form_valid = false;
        }
        else{
            setSuccess(username);
        }

        if(first_nameValue === ''){
            setError(first_name, 'First name is required');
            is_form_valid = false;
        }
        else if(!isValidFirstName(first_nameValue)){
            setError(first_name, 'First name can have alphabets only');
            is_form_valid = false;
        }
        else{
            setSuccess(first_name)
        }

        if(last_nameValue === ''){
            setError(last_name, 'Last name is required');
            is_form_valid = false;
        }
        else if(!isValidLastName(last_nameValue)){
            setError(last_name, 'Last name can have alphabets only');
            is_form_valid = false;
        }
        else{
            setSuccess(last_name)
        }


        if(emailValue === ''){
            setError(email, 'Email is required');
            is_form_valid = false;
        }
        else if(!isValidEmail(emailValue)){
            setError(email, 'Invalid email');
            is_form_valid = false;
        }
        else{
            setSuccess(email);
        }

        if(password1Value === ''){
            setError(password1, 'Password is required');
            is_form_valid = false;
        }
        else if(!isValidPassword(password1Value)){
            setError(password1, 'Weak password. Try stronger password.');
            is_form_valid = false;
        }
        else{
            setSuccess(password1);
        }

        if(password2Value === ''){
            setError(password2, 'Please confirm your password');
            is_form_valid = false;
        }
        else if(password1Value !== password2Value){
            setError(password2, 'Passwords do not match');
            is_form_valid = false;
        }
        else{
            setSuccess(password2);
        }
        return is_form_valid;

    }

});



</script>
{% endblock %}

