{% extends 'user/master/master.html' %}
{% load static %}
{% block content %}
<style>
    price-input{
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}
.price-input .field{
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.field input{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator{
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider{
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress{
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #17A2B8;
}
.range-input{
  position: relative;
}
.range-input input{
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #17A2B8;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
input[type="range"]::-moz-range-thumb{
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17A2B8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}

</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 h-100 mt-5">
            <h5>FILTER</h5>
            <hr>
            <h6 class="text-primary">Select Fee</h6>
            <ul class="list-group">
                <div class="price-input d-flex">
                    <div class="field">
                        <span>Min</span>
                        <input class="input-min job_check" type="number" id="min_fee" value="100">
                    </div>
                    <div class="separator">-</div>
                    <div class="field">
                        <span>Max</span>
                        <input class="input-max talent_check" type="number" id="max_fee" value="2000">
                    </div>
                </div>
                <div class="slider mt-3">
                    <div class="progress talent_check" >

                    </div>
                </div>
                <div class="range-input">
                    <input class="range-min" id="min-range" max="10000" min="0" step="100" type="range" value="2500">
                    <input class="range-max" id = "max-range" max="10000" min="0" step="100" type="range" value="7500">
                </div>
            </ul>
            <br/>
            <h6 class="text-primary">Service category</h6>
            <ul class="list-group">
                {% for service in services %}
                    <li class="list-group-item">
                    <div class="form-check">
                        <label class="form-check-label">{{service.name}}
                            <input class="form-check-input talent_check service" type="checkbox" value="{{service.id}}">
                        </label>

                    </div>
                </li>
                {% endfor %}

            </ul>

            <h6 class="text-primary">Select Experience</h6>
            <ul class="list-group">

                <li class="list-group-item">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input talent_check experience" type="checkbox" value="1"> < 1 year
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input talent_check experience" type="checkbox" value="2"> 1-3 years
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input talent_check experience" type="checkbox" value="3"> 3-5 years
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input talent_check experience" type="checkbox" value="4"> > 5 years
                        </label>
                    </div>
                </li>
            </ul>

            <h6 class="text-primary">Select skills</h6>
            <ul class="list-group">
                {% for skill in skills %}
                <li class="list-group-item">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input talent_check skill" type="checkbox" value="{{skill.id}}">{{skill}}
                        </label>
                    </div>
                </li>
                {% endfor %}

            </ul>


        </div>
        <div class="col-sm-9">
            <div id="talent_change">
                <h5 class="text-center mt-5" >Talents</h5>
                <div id="filtered_talent" class="talent_result text-center wow fadeInUp" data-wow-delay="0.3s">


            <!-- Start All Talents-->
                    {% include 'user/pages/filtered_talentlist.html' %}
            <!-- End All Talents -->
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">


    const rangeInput = document.querySelectorAll(".range-input input"),
    priceInput = document.querySelectorAll(".price-input input"),
    range = document.querySelector(".slider .progress");
    let priceGap = 1000;
    priceInput.forEach(input =>{
        input.addEventListener("input", e =>{
            let minPrice = parseInt(priceInput[0].value),
            maxPrice = parseInt(priceInput[1].value);

            if((maxPrice - minPrice >= priceGap) && maxPrice <= rangeInput[1].max){
                if(e.target.className === "input-min"){
                    rangeInput[0].value = minPrice;
                    range.style.left = ((minPrice / rangeInput[0].max) * 100) + "%";
                }
                else{
                    rangeInput[1].value = maxPrice;
                    range.style.right = 100 - (maxPrice / rangeInput[1].max) * 100 + "%";
                }
            }
            filter_data();
        });
    });
    rangeInput.forEach(input =>{
        input.addEventListener("input", e =>{
            let minVal = parseInt(rangeInput[0].value),
            maxVal = parseInt(rangeInput[1].value);
            if((maxVal - minVal) < priceGap){
                if(e.target.className === "range-min"){
                    rangeInput[0].value = maxVal - priceGap
                }
                else{
                    rangeInput[1].value = minVal + priceGap;
                }
            }
            else{
                priceInput[0].value = minVal;
                priceInput[1].value = maxVal;
                range.style.left = ((minVal / rangeInput[0].max) * 100) + "%";
                range.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + "%";
            }
            filter_data();
        });
    });

    function filter_data(){
        var action = 'data';
        var minimum_fee = $('#min_fee').val();
        var maximum_fee = $('#max_fee').val();
        var service = get_filter_text('service');
        var experience = get_filter_text('experience');
        var skill = get_filter_text('skill');
        var rating = get_filter_text('rating');
        console.log(service);
        console.log(experience);
            $.ajax({
                url:"{% url 'filtertalents' %}",
                method:'get',
                data:{
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action:action,
                    minimum_fee:minimum_fee,
                    maximum_fee:maximum_fee,
                    service:service,
                    experience:experience,
                    skill:skill,
                    rating:rating

                },
                success:function(response){
                    console.log(response)
                    $("#filtered_talent").replaceWith(response);
                },
                error:function(response){
                }
            });
        }

    function get_filter_text(text_class){
        var filterData = [];
        $('.'+text_class+':checked').each(function(){
           filterData.push(parseInt($(this).val()));
        });
        console.log(filterData);
        return filterData;

    }

    $(".talent_check").change(function(){
        filter_data();
    });


</script>

{% endblock %}
