{% extends 'master/master.html' %}
{% block content %}
{% load static %}
<style>
.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.wrap {
  width: 100%;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); }
  .wrap .img {
    height: 200px; }

.login-wrap {
  position: relative; }
  .login-wrap h3 {
    font-weight: 300; }

.form-group {
  position: relative;
  z-index: 0;
  margin-bottom: 20px !important; }
  .form-group a {
    color: gray; }

.form-control {
  height: 48px;
  background: #fff;
  color: #000;
  font-size: 16px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.2) !important; }
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.2) !important; }
  .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.2) !important; }
  .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.2) !important; }
  .form-control:focus, .form-control:active {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #01d28e; }

.field-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.3); }

.form-control-placeholder {
  position: absolute;
  top: 2px;
  padding: 7px 0 0 15px;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  opacity: .6; }

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  -webkit-transform: translate3d(0, -120%, 0);
  transform: translate3d(0, -120%, 0);
  padding: 7px 0 0 0;
  opacity: 1;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #01d28e;
  font-weight: 700; }

.social-media {
  position: relative;
  width: 100%; }
  .social-media .social-icon {
    display: block;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 16px;
    margin-right: 5px;
    border-radius: 50%; }
    .social-media .social-icon span {
      color: #999999; }
    .social-media .social-icon:hover, .social-media .social-icon:focus {
      background: #01d28e; }
      .social-media .social-icon:hover span, .social-media .social-icon:focus span {
        color: #fff; }

.checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "\f0c8";
  font-family: "FontAwesome";
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  margin-top: -4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  @media (prefers-reduced-motion: reduce) {
    .checkmark:after {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }

/* Show the checkmark when checked */
.checkbox-wrap input:checked ~ .checkmark:after {
  display: block;
  content: "\f14a";
  font-family: "FontAwesome";
  color: rgba(0, 0, 0, 0.2); }

/* Style the checkmark/indicator */
.checkbox-primary {
  color: #01d28e; }
  .checkbox-primary input:checked ~ .checkmark:after {
    color: #01d28e; }

.btn {
  cursor: pointer;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px;
  padding: 10px 20px; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none; }
  .btn.btn-primary {
    background: #01d28e !important;
    border: 1px solid #01d28e !important;
    color: #fff !important; }
    .btn.btn-primary:hover {
      border: 1px solid #01d28e;
      background: transparent;
      color: #01d28e; }
    .btn.btn-primary.btn-outline-primary {
      border: 1px solid #01d28e;
      background: transparent;
      color: #01d28e; }
      .btn.btn-primary.btn-outline-primary:hover {
        border: 1px solid transparent;
        background: #01d28e;
        color: #fff; }


.form-group.success input{
	border-color: #09c372;
}

.form-group.error input{
	border-color: #ff3860;
}

.form-group .error{
	color: #ff3860;
	font-size :  9px;
	height : 13px;
}

</style>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5 mt-4">
                <h2 class="heading-section">Register as a worker</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-9">
                <div class="wrap">
                    <div class="img" style="background-image: url(static/img/register.png);"></div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Complete your worker profile</h3>
                            </div>

                        </div>
                        <form id = "workerprofile-form" class="workerprofile-form" enctype="multipart/form-data" action="" method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <input type="text" id="location-field" name ="location" class="form-control">
                            <label class="form-control-placeholder" for="location-field">Your complete address:</label>
                            <div class="error"></div>
                        </div>

                        <div class="form-group">
                            <input type="text" id="mobile-number" name ="phone_number" class="form-control">
                            <label class="form-control-placeholder" for="mobile-number">Your mobile number:</label>
                            <div class="error"></div>
                        </div>

                        <div class="form-group">
                            <select name="gender" id="gender-field" class="form-control">
                                <option value="male">male</option>
                                <option value="female">female</option>
                            </select>
                            <label class="form-control-placeholder" for="gender-field">Your gender:</label>
                            <div class="error"></div>
                        </div>

                        <div class="form-group">
                            <select name="service" id="service-field" class="form-control">
                                {% for service in services %}
                                    <option class="form-control" value="{{service.id}}">{{service.name}}</option>
                                {% endfor %}
                            </select>
                            <label class="form-control-placeholder" for="service-field">You are providing service as:</label>
                            <div class="error"></div>
                        </div>

                        <div class="form-group">
                            <input type="text" id="charge-field" name ="fee" class="form-control my-3 p-3">
                            <label class="form-control-placeholder" for="charge-field">Minimum fee you charge(Rs.):</label>
                            <div class="error"></div>
                        </div>

                        <div class="form-group">
                            <label style="color:#01D28E; text-transform:uppercase; font-size:12px; font-weight:700; line-height:18px; letter-spacing:1px;" for="skill-field">You define yourself as:</label>
                            <select class="multiple-skills form-control" id="skill-field" name="skill" multiple="multiple">
                                {% for skill in skills %}
                                    <option class="form-control" value="{{skill.id}}">{{skill}}</option>
                                {% endfor %}
                            </select>
                            <div class="error"></div>
                        </div>

                        <div class="form-group">
                            <input type="file" id="image-field" name ="image" class="form-control my-3 p-3" accept = "image/jpg, image/jpeg">
                            <label class="form-control-placeholder" for="image-field">Upload your image:</label>
                            <div class="error"></div>
                        </div>

                        <div class="form-group">
                            <input type="file" id="document-field" name ="document" class="form-control my-3 p-3" accept="image/jpeg,image/jpeg,application/pdf">
                            <label class="form-control-placeholder" for="document-field">Upload certifications related to your work:</label>
                            <div class="error"></div>
                        </div>

                        <div class="form-group">
                            <textarea id = "detail-field" name = "bio"  class="form-control my-3 p-3"></textarea>
                            <label class="form-control-placeholder" for="detail-field">About you and the service you provide in detail:</label>
                            <div class="error"></div>
                        </div>
                        <div class="form-group">
                                <button class="form-control btn btn-primary rounded submit px-3" type="submit">Submit
                                </button>
                            </div>

                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="{% static 'lib/select2/js/select2.min.js' %}"></script>
<script type="text/javascript">

$(document).ready(function() {
    $('.multiple-skills').select2();
});
</script>
<script>
    const workerform = document.getElementById('workerprofile-form');
    const bio = document.getElementById('detail-field');
    const address = document.getElementById('location-field');
    const contact = document.getElementById('mobile-number');
    const gender = document.getElementById('gender-field');
    const image = document.getElementById('image-field');
    const certificate = document.getElementById('document-field');
    const fee = document.getElementById('charge-field');

    workerform.addEventListener('submit', e => {
        e.preventDefault();
        if(validateInputs()){
            workerform.submit();
        }
    });

    const isValidMobile = (contact) =>{
        const re = /(\+977)?[9][6-9]\d{8}/;
        return re.test(contact);

    }

    const setError = (element , message) => {
        const inputControl = element.parentElement;
        const errorDisplay = inputControl.querySelector('.error');
        errorDisplay.innerText = message;
        inputControl.classList.add('error');
        inputControl.classList.remove('success');

    }
    const setSuccess = (element) => {
        const inputControl = element.parentElement;
        const errorDisplay = inputControl.querySelector('.error');
        errorDisplay.innerText = "";
        inputControl.classList.add('success');
        inputControl.classList.remove('error');

    }

    const validateInputs = () => {
        var is_form_valid = true;
        const bioValue = bio.value.trim();
        const addressValue = address.value.trim();
        const contactValue = contact.value.trim();
        const genderValue = gender.value.trim();
        const imageValue = image.value;
        const certificateValue = certificate.value;
        const feeValue = fee.value.trim();

        if(bioValue == ''){
            setError(bio , 'Bio field is required');
            is_form_valid = false;
        }
        else{
            setSuccess(bio)
        }

        if(addressValue == ''){
            setError(address , 'Location field is required');
            is_form_valid = false;
        }
        else{
            setSuccess(address);
        }

        if(contactValue == ''){
            setError(contact , 'Mobile number field is required');
            is_form_valid = false;
        }
        else if( !isValidMobile(contactValue)){
            setError(contact , 'Invalid mobile number');
            is_form_valid = false;
        }
        else{
            setSuccess(contact);
        }

        if(genderValue == ''){
            setError(gender, 'Service value is required');
            is_form_valid = false;
        }
        else{
            setSuccess(gender);
        }

        if(imageValue == ''){
            setError(image, 'Image is required');
            is_form_valid = false;
        }
        else{
            setSuccess(image);
        }
        if(certificateValue == ''){
            setError(certificate, 'Document is required');
            is_form_valid = false;
        }
        else{
            setSuccess(certificate);
        }

        if(feeValue == ''){
            setError(fee, 'fee is required');
            is_form_valid = false;
        }
        else{
            setSuccess(fee);
        }


        return is_form_valid;

    }
</script>



{% endblock %}