{% extends 'admin/master/master.html' %}
{% load static %}
{% block content %}


<div class="col-md-12">
    <div class="table-wrapper">

        <div class="table-title">
            <div class="row">
                <div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
                    <h2 class="ml-lg-2">Clients</h2>
                </div>

            </div>
        </div>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>S.N</th>
                <th>Name</th>
                <th>Username</th>
                <th>email</th>
                <th>Joined on</th>
                <th>Last log in</th>

            </tr>
            </thead>

            <tbody>
            {% for user in users %}
            <tr>
                <th>{{ page_obj.start_index|add:forloop.counter0 }}</th>
                <th>{{user.first_name}} {{user.last_name}}</th>
                <th>{{user.username}}</th>

                <th>{{user.email}}</th>
                <th>{{user.date_joined}}</th>
                <th>{{user.last_login}}</th>

            </tr>
            {% endfor %}

            </tbody>

        </table>

        <div class="clearfix">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"> previous</a></li>
                {% endif %}
                {% for page in page_range %}
                    {% if page == page_obj.number %}
                    <li class="page-item "><span class="current-page page-link">{{ page }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                {% endif %}
                </ul>

            </div>



    </div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>


{% endblock %}