
            <div class="modal-header">
                <h5 class="modal-title">Job Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Job title:</label>
								  	<input type="text" class="form-control" name="first_name" id="firstname-field" value="{{job.title}}" readonly>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Posted by:</label>
								  	<input type="text" class="form-control" name="last_name" id="lastname-field" value="{{job.postedby}}" readonly>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Posted on:</label>
										<input type="text" class="form-control" name="gender" id="gender-field" value="{{job.posted_on}}" readonly>
								</div>

							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Location:</label>
								  	<input type="text" class="form-control" name="email" id="email-field" value="{{job.location}}" readonly>

								</div>

							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Minimum time rqquired to complete:</label>
								  	<input type="text" class="form-control" name="phone_number" id="mobile-number" value="{{job.timetocomplete}}" readonly>

								</div>

							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Years of experience required:</label>
								  	<input type="text" class="form-control" name="location" id="location-field" value="{{job.experience}}" readonly>

								</div>

							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Budget</label>
								  	<input type="text" class="form-control" id="charge-field" name="fee" value="{{job.payment}}" readonly>

								</div>

							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Deadline</label>
								  	<input type="text" class="form-control" name="experience" id="experience-field" value="{{job.deadline}}" readonly>

								</div>

							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Service category</label>
									<input type="text" class="form-control" name="service" id="service-field" value="{{job.service}}" readonly>

								</div>

							</div>
							
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Last updated on:</label>
									<input type="text" class="form-control" name="service" id="service-field" value="{{job.modified_on}}" readonly>

								</div>

							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Skills required:</label><br>
									{% for skill in job.skill.all%}
										{{skill.name}}
									{% endfor %}
								</div>

							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Requirements:</label>
									<textarea class="form-control" name="requirements" id="detail-field" rows="4" readonly>{{job.requirements}}</textarea>

								</div>

							</div>
							<div class="col-md-12">
								<div class="form-group">
								  	<label>Description:</label>
									<textarea class="form-control" name="bio" id="detail-field" rows="4" readonly>{{job.description}}</textarea>

								</div>

							</div>
						</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

