{% extends 'admin/master/master.html' %}
{% load static %}
{% block content %}

<div class="col-md-12">
    <div class="table-wrapper">

        <div class="table-title">
            <div class="row">
                <div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
                    <h2 class="ml-lg-2">Workers</h2>
                </div>
            </div>
        </div>

        <table class="table table-striped table-hover">
            <thead>

            <tr>
                <th>S.N</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Joined On</th>
                <th>last updated On</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for profile in profiles %}

            <tr>
                <th>{{forloop.counter}}</th>
                <th>{{profile.user.first_name}}{{profile.user.last_name}}</th>
                <th>{{profile.user.username}}</th>
                <th>{{profile.user.email}}</th>
                <th>{{profile.phone_number}}</th>
                <th>{{profile.joined_on}}</th>
                <th>{{profile.updated_on}}</th>
                <th>
                    <a class="text-info"  data-toggle="modal" data-target="#viewWorkerModal" data-remote="{% url 'worker_detail' profile.id %}">
                        <i class="fa-solid fa-eye" data-toggle="tooltip" title="view"></i>
                    </a>

                </th>
            </tr>
            {% endfor %}


            </tbody>

        </table>

<!--        <div class="clearfix">-->
<!--            <div class="hint-text">showing <b>{{profiles.count}}</b> out of <b>{{profiles.count}}</b></div>-->
<!--            <ul class="pagination">-->
<!--                <li class="page-item disabled"><a href="#">Previous</a></li>-->
<!--                <li class="page-item "><a href="#" class="page-link">1</a></li>-->
<!--                <li class="page-item "><a href="#" class="page-link">2</a></li>-->
<!--                <li class="page-item active"><a href="#" class="page-link">3</a></li>-->
<!--                <li class="page-item "><a href="#" class="page-link">4</a></li>-->
<!--                <li class="page-item "><a href="#" class="page-link">5</a></li>-->
<!--                <li class="page-item "><a href="#" class="page-link">Next</a></li>-->
<!--            </ul>-->
<!--        </div>-->
            <div class="clearfix">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"> previous</a></li>
                {% endif %}
                {% for page in page_range %}
                    {% if page == page_obj.number %}
                    <li class="page-item "><span class="current-page page-link">{{ page }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                {% endif %}
                </ul>

            </div>


    </div>
</div>


<!----view-modal start--------->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewWorkerModalLabel" aria-hidden="true" id="viewWorkerModal" >
    <div class="modal-dialog" style="max-width: 60%;" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>

<script>
    $("#viewWorkerModal").on("shown.bs.modal", function(e){
        var button = $(e.relatedTarget)
        var modal = $(this)
        modal.find(".modal-content").load(button.data("remote"))
    })
</script>



{% endblock %}





